<p id="notice"><%= notice %></p>

<h1>Transportations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transportations.each do |transportation| %>
      <tr>
        <td><%= link_to transportation.name, transportation %></td>
        <td><%= transportation.hours %></td>
        <td><a href='<%= transportation.website %>'><%= transportation.website %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br/>

<%= link_to "Food", foods_path %>
<%= link_to "Destinations", destinations_path %>
<%= link_to "Categories", categories_path%>
