<p id="notice"><%= notice %></p>

<h1>Trans Notes</h1>

<table>
  <thead>
    <tr>
      <th>Transportation</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trans_notes.each do |trans_note| %>
      <tr>
        <td><%= trans_note.transportation_id %></td>
        <td><%= trans_note.note_id %></td>
        <td><%= link_to 'Show', trans_note %></td>
        <td><%= link_to 'Edit', edit_trans_note_path(trans_note) %></td>
        <td><%= link_to 'Destroy', trans_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trans Note', new_trans_note_path %>
