<%= form_with(model: dest_location) do |form| %>
  <% if dest_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dest_location.errors.count, "error") %> prohibited this dest_location from being saved:</h2>

      <ul>
        <% dest_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :destination_id %>
    <%= form.text_field :destination_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
