<p id="notice"><%= notice %></p>

<h1>Dest Locations</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dest_locations.each do |dest_location| %>
      <tr>
        <td><%= dest_location.destination_id %></td>
        <td><%= dest_location.location_id %></td>
        <td><%= link_to 'Show', dest_location %></td>
        <td><%= link_to 'Edit', edit_dest_location_path(dest_location) %></td>
        <td><%= link_to 'Destroy', dest_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dest Location', new_dest_location_path %>
