<p id="notice"><%= notice %></p>

<h1>Trans Likes</h1>

<table>
  <thead>
    <tr>
      <th>Transportation</th>
      <th>Like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trans_likes.each do |trans_like| %>
      <tr>
        <td><%= trans_like.transportation_id %></td>
        <td><%= trans_like.like_id %></td>
        <td><%= link_to 'Show', trans_like %></td>
        <td><%= link_to 'Edit', edit_trans_like_path(trans_like) %></td>
        <td><%= link_to 'Destroy', trans_like, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trans Like', new_trans_like_path %>
