<p id="notice"><%= notice %></p>

<h1>Dest Specials</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Special</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dest_specials.each do |dest_special| %>
      <tr>
        <td><%= dest_special.destination_id %></td>
        <td><%= dest_special.special_id %></td>
        <td><%= link_to 'Show', dest_special %></td>
        <td><%= link_to 'Edit', edit_dest_special_path(dest_special) %></td>
        <td><%= link_to 'Destroy', dest_special, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dest Special', new_dest_special_path %>
