<p id="notice"><%= notice %></p>

<h1>Dest Categories</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dest_categories.each do |dest_category| %>
      <tr>
        <td><%= dest_category.destination_id %></td>
        <td><%= dest_category.category_id %></td>
        <td><%= link_to 'Show', dest_category %></td>
        <td><%= link_to 'Edit', edit_dest_category_path(dest_category) %></td>
        <td><%= link_to 'Destroy', dest_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dest Category', new_dest_category_path %>
