<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @dest_category.destination_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dest_category.category_id %>
</p>

<%= link_to 'Edit', edit_dest_category_path(@dest_category) %> |
<%= link_to 'Back', dest_categories_path %>
