<%= form_with(model: dest_recommendation) do |form| %>
  <% if dest_recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dest_recommendation.errors.count, "error") %> prohibited this dest_recommendation from being saved:</h2>

      <ul>
        <% dest_recommendation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :destination_id %>
    <%= form.text_field :destination_id %>
  </div>

  <div class="field">
    <%= form.label :recommendation_id %>
    <%= form.text_field :recommendation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
