<p id="notice"><%= notice %></p>

<h1>Dest Recommendations</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Recommendation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dest_recommendations.each do |dest_recommendation| %>
      <tr>
        <td><%= dest_recommendation.destination_id %></td>
        <td><%= dest_recommendation.recommendation_id %></td>
        <td><%= link_to 'Show', dest_recommendation %></td>
        <td><%= link_to 'Edit', edit_dest_recommendation_path(dest_recommendation) %></td>
        <td><%= link_to 'Destroy', dest_recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dest Recommendation', new_dest_recommendation_path %>
