<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @dest_recommendation.destination_id %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @dest_recommendation.recommendation_id %>
</p>

<%= link_to 'Edit', edit_dest_recommendation_path(@dest_recommendation) %> |
<%= link_to 'Back', dest_recommendations_path %>
