<p id="notice"><%= notice %></p>

<h1>Dest Notes</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dest_notes.each do |dest_note| %>
      <tr>
        <td><%= dest_note.destination_id %></td>
        <td><%= dest_note.note_id %></td>
        <td><%= link_to 'Show', dest_note %></td>
        <td><%= link_to 'Edit', edit_dest_note_path(dest_note) %></td>
        <td><%= link_to 'Destroy', dest_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dest Note', new_dest_note_path %>
