<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.name, food %></td>
        <td><%= food.hours %></td>
        <td><a href='<%= food.website %>'><%= food.website %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br/>

<%= link_to 'New Food', new_food_path %>
