<p id="notice"><%= notice %></p>

<h1>Food</h1>

<table>
  <thead>
    <tr>
      <th class='name'>Name</th>
      <th class='hours'>Hours</th>
      <th class='web'>Website</th>
      
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td class='name'><%= link_to food.name, food %></td>
        <td class='hours'><% food.hours.split(',').each do |hour|%>
              <%= hour %></br>
            <% end %></td>
        <td class='web'><a href='<%= food.website %>'><%= food.website %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br/>

<%= link_to "Destinations", destinations_path %>
<%= link_to "Transportation", transportations_path %>
<%= link_to "Categories", categories_path%>
