<%= form_with(model: dest_like) do |form| %>
  <% if dest_like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dest_like.errors.count, "error") %> prohibited this dest_like from being saved:</h2>

      <ul>
        <% dest_like.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :destination_id %>
    <%= form.text_field :destination_id %>
  </div>

  <div class="field">
    <%= form.label :like_id %>
    <%= form.text_field :like_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
