<p id="notice"><%= notice %></p>

<h1>Dest Likes</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dest_likes.each do |dest_like| %>
      <tr>
        <td><%= dest_like.destination_id %></td>
        <td><%= dest_like.like_id %></td>
        <td><%= link_to 'Show', dest_like %></td>
        <td><%= link_to 'Edit', edit_dest_like_path(dest_like) %></td>
        <td><%= link_to 'Destroy', dest_like, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dest Like', new_dest_like_path %>
