<p id="notice"><%= notice %></p>

<h1>Destinations</h1>

<table>
  <thead>
    <tr>
      <th class='name'>Name</th>
      <th class='hours'>Hours</th>
      <th class='web'>Website</th>
      
    </tr>
  </thead>

  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td class='name'><%= link_to destination.name, destination %></td>
        <td class='hours'><% destination.hours.split(',').each do |hour|%>
              <%= hour %></br>
            <% end %></td>
        <td class='web'><a href='<%= destination.website %>'><%= destination.website %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br/>

<%= link_to "Food", foods_path %>
<%= link_to "Transportation", transportations_path %>
<%= link_to "Categories", categories_path%>
