<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<ul>
  

  
    <% @locations.each do |location| %>
      
        <li><%= link_to location.location, location %></li></br>
        
        
      
    <% end %>
  
</table>

<%= link_to "Food", foods_path %>
<%= link_to "Destinations", destinations_path %>
<%= link_to "Transportation", transportations_path%>
</br>
<%= link_to "Categories", categories_path %>